div.marche{
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;

    background-color: white;
    width: 320px;
    top : 20px;
    height: 292px;
    border-radius: 10px;
    margin-bottom: 50px;
}

a.log{
    text-align:center;
    width:50%;
}
a.sign{
    text-align:center ;
    width:50%;
}

div.head{
    background-image: linear-gradient(purple, pink);

    /* Obligatoire si on veut "voir" le dégradé */
    width: 100%;
    height: 100px;
}


h1.head {
    width: 100%;
    position: relative;
    top :30px;
    text-align:center;
}
#familytoad{
    width:350px;
    height: 80px;
    background: radial-gradient(circle at 50%, #fff, #fff 70%, grey 100%, #fff 75%);
    border-radius: 10px;
}

#vide {
    transform: scaleX(-1);
}

body {
    background-color : grey;

    margin:0;
}

a.user_setting {
    color: white;
    background-color: #000080;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    border: 2px outset #c0c0c0;
  }
  a.user_setting:hover {
    background-color: #6495ED;
    border: 2px inset #c0c0c0;
  }
 
  #allpictur{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
  }
  #wok{
    width:150px;
    padding: 20px;
  }
  #work{
    width:600px;
  }
  #imgda{
    background: radial-gradient(circle at 50%, #fff, #fff 70%, grey 100%, #fff 75%);
    border-radius: 10px;
    margin-bottom: 5px;
    width: 600px;

  }
  #sendtext{
      display: flex;
      width:530px;
  }
  #text{
      width: 450px;
      height: 20px;
  }
  #message{
      width: 450px;
     }

    #delog{
        position: absolute;
    }

    #finalpictur{
        position: relative;
        margin :0 auto; 
        width: 358px;
    }
    canvas{
        display:none;
    }
    #filtre{
        display:none;
        position: absolute;
        z-index: 1;
        background-image: url('../Pictures/toad1.png');
        background-repeat: no-repeat;
        background-size: auto;
        left:50px;
        top:10px;
        width:60px;
        height: 58px;
    }
    div.centre{
        display: flex;
    }
    img.heart{
        width: 40px;
        height: 40px;
        z-index: 2;
    }
    #block-it{
        position: absolute;
        width: 113px;
     
        height: 17px;
        top: 272px;
    }
    #video{
        width: 358px;
        height: 271px;
    }
    #test{
        
        width: 27px;
        height: 27px;
        z-index: 1;
        
 
    }

    #u_p{
        width: 500px;
        height: 600px;
        overflow:auto;
    }
    footer{
        position: fixed;
        bottom: 0px;
        width: 100%;
    }
    #footer{

        height: 50px;
        font-size: 0.05em;
        text-align: center;
        width: 100%;
        background-image: linear-gradient(pink, purple);
        z-index: -1000;
    }

    #CENTRER{
        text-align: center;
    }